<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        .btn:hover {
            transform: scale(1.2); /* Aumenta el tamaño del botón al 120% cuando se pasa el cursor sobre él */
            transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
        }

        .thead-darkGray {
            background-color: #4b4c4f; /* Puedes ajustar el color según tus preferencias */
            color: white;
        }

        .body-gradient {
            background: linear-gradient(to bottom, #ffffff, #4b4c4f 1800px)

        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            width: 100%;
            height: 100%;
            min-height: 100%;
            overflow-x: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #4b4c4f;
            color: white;
            padding: 10px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .nav-link:hover {
            transform: scale(1.25); /* Aumenta el tamaño del enlace al 120% cuando se pasa el cursor sobre él */
            transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
            color: #ffffff; /* Cambia el color del texto del enlace a rojo cuando el puntero se acerca */

        }

        .fila-inactiva {
            background-color: rgba(230, 155, 155, 0.29); /* Cambia el color de fondo a rojo claro */
        }


    </style>
    <title>Departamentos - Aulas</title>

</head>

<body class="body-gradient">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <br>
                <h3>
                    <img th:src="@{/images/Logo-NBG.png}" class="d-inline-block align-text-top" width="40" height="40"
                         alt="icon">
                    <b><em>Mobiliario de Departamentos</em></b>
                </h3>
                <hr>
                <div>
                    <h2 class="mb-4"><b>¡Asignación de Muebles por Departamento!</b></h2>
            </div>
                <form action="/depmub/save" method="post" th:object="${asignacionForm}" onsubmit="validarFormulario(event)" class="d-flex flex-column text-left mb-4">
                    <div class="form-group row mb-4">
                    <label for="id_departamento" class="h4"><b>Selecciona un Departamento:</b></label>
                    <div class="col-sm-8">
                    <select id="id_departamento" name="id_departamento" class="form-control">
                        <option value="" disabled selected>Selecciona un Departamento</option>
                        <!-- Iterar sobre la lista de Departamentos disponibles -->
                        <option th:each=" departamento : ${allDepartamentos}" th:value="${departamento.id_departamento}"
                                th:text="${departamento.tipo_departamento + ' - ' + departamento.tipo_jornada}"></option>
                    </select>
                    <div id="selectError" class="invalid-feedback" style="display: none;">Por favor, selecciona un Departamento para continuar</div>
                </div>


                <!-- Lista de muebles -->
                <div class="form-group">
                    <label class="h4"><b>Selecciona los Muebles:</b></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <table class="table">
                                    <tbody>
                                    <!-- Iterar sobre la mitad de la lista de muebles disponibles -->
                                    <tr th:each="mueble, i: ${allMuebles}" th:if="${i.index % 2 == 0}">
                                        <td>
                                            <div class="form-check" onclick="activarCheckbox(this)">
                                                <input type="checkbox" name="id_mueble" th:value="${mueble.id_mueble}"
                                                       class="form-check-input" onclick="habilitarCantidad(this)">
                                                <label th:for="${'mueble' + mueble.id_mueble}"
                                                       class="form-check-label h5"
                                                       th:text="${mueble.codigo_mueble + ' - ' + mueble.nombre_mueble }"></label>
                                                <span class="cantidad-disponible" th:text="'Cantidad Disponible: ' + ${mueble.cantidad}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" name="cantidad" class="form-control cantidad"
                                                   placeholder="Cantidad" disabled>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <table class="table">
                                    <tbody>
                                    <!-- Iterar sobre la otra mitad de la lista de muebles disponibles -->
                                    <tr th:each="mueble, i: ${allMuebles}" th:if="${i.index % 2 == 1}">
                                        <td>
                                            <div class="form-check" onclick="activarCheckbox(this)">
                                                <input type="checkbox" name="id_mueble" th:value="${mueble.id_mueble}"
                                                       class="form-check-input" onclick="habilitarCantidad(this)">
                                                <label th:for="${'mueble' + mueble.id_mueble}"
                                                       class="form-check-label h5"
                                                       th:text="${mueble.codigo_mueble + ' - ' + mueble.nombre_mueble }"></label>
                                                <span class="cantidad-disponible" th:text="'Cantidad Disponible: ' + ${mueble.cantidad}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" name="cantidad" class="form-control cantidad"
                                                   placeholder="Cantidad" disabled>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn-primary btn-block">Asignar Muebles</button>
                    <a th:href="@{/depmub/lista}" class="btn btn-warning btn-sm btn-block mb-3 d-inline-block align-text-top">ATRAS</a>


<script>
    function habilitarCantidad(checkbox) {
        // Obtener el campo de cantidad asociado al checkbox actual
        var cantidadInput = checkbox.parentElement.parentElement.nextElementSibling.querySelector('input[name="cantidad"]');
        // Obtener la cantidad disponible del span
        var cantidadDisponible = checkbox.parentElement.querySelector('.cantidad-disponible').innerText;
        // Quitar "Cantidad Disponible: " del texto y convertirlo a número
        cantidadDisponible = parseInt(cantidadDisponible.replace('Cantidad Disponible: ', ''));
        // Habilitar o deshabilitar el campo de cantidad según el estado del checkbox
        cantidadInput.disabled = !checkbox.checked;
        // Si el checkbox está marcado, limitar el valor del input al valor disponible
        if (checkbox.checked) {
            cantidadInput.max = cantidadDisponible;
            // Validar el valor ingresado
            cantidadInput.addEventListener('input', function() {
                var valorIngresado = parseInt(this.value);
                if (valorIngresado > cantidadDisponible) {
                    // Si el valor ingresado es mayor que la cantidad disponible, cambiar el estilo del input y mostrar un mensaje
                    this.style.borderColor = 'red';
                    this.setCustomValidity('No puede superar la cantidad disponible');
                } else {
                    // Si el valor ingresado es válido, restaurar el estilo y quitar el mensaje de error
                    this.style.borderColor = '';
                    this.setCustomValidity('');
                }
            });
            // Validar si el campo está vacío cuando se marca el checkbox
            if (cantidadInput.value === "") {
                cantidadInput.style.borderColor = 'red'; // Marcar en rojo el campo de cantidad
                cantidadInput.setCustomValidity('Este campo no puede estar vacío'); // Mostrar mensaje de error
            }
        } else {
            // Si el checkbox está desmarcado, quitar la limitación de valor y restaurar el estilo del input
            cantidadInput.max = '';
            cantidadInput.style.borderColor = '';
            cantidadInput.setCustomValidity('');
        }
    }

    function activarCheckbox(div) {
        var checkbox = div.querySelector('input[type="checkbox"]');
        checkbox.checked = !checkbox.checked;
        habilitarCantidad(checkbox);
    }

</script>

<script>
    // Función para manejar la selección de muebles
    function handleSelection() {
        var selectElement = document.getElementById("idMuebles");
        var selectedMuebles = [];

        // Reiniciar la lista de muebles seleccionados
        document.getElementById("selectedMuebles").innerHTML = "";

        // Obtener todos los muebles seleccionados
        for (var i = 0; i < selectElement.selectedOptions.length; i++) {
            var selectedOption = selectElement.selectedOptions[i];
            var selectedMuebleId = selectedOption.value;
            var selectedMuebleName = selectedOption.text;

            selectedMuebles.push(selectedMuebleId);

            // Mostrar los muebles seleccionados
            var selectedMueblesLabel = document.getElementById("selectedMuebles");
            selectedMueblesLabel.innerHTML += "<span>" + selectedMuebleName + "</span>, ";
        }

        // Actualizar el valor del campo de texto oculto
        var hiddenInput = document.getElementById("selectedMueblesIds");
        hiddenInput.value = selectedMuebles.join(",");
    }
</script>

<script>
    // Función para validar el formulario
    function validarFormulario(event) {
        // Obtener el select de aula
        var selectAula = document.getElementById("id_departamento");
        var mueblesSeleccionados = document.querySelectorAll('input[name="id_mueble"]:checked');

        // Verificar si se ha seleccionado un aula válida
        if (selectAula.value === "") {
            selectAula.setCustomValidity("Por favor, selecciona un aula para continuar"); // Establecer mensaje personalizado
            event.preventDefault(); // Evitar el envío del formulario
        } else if (mueblesSeleccionados.length === 0) {
            alert("Por favor, selecciona al menos un mueble."); // Mostrar mensaje de alerta
            event.preventDefault(); // Evitar el envío del formulario
        } else {
            selectAula.setCustomValidity(""); // Restablecer mensaje de validación
        }
    }
</script>








</html>
