<!DOCTYPE HTML>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        .thead-darkGray {
            background-color: #4b4c4f; /* Puedes ajustar el color según tus preferencias */
            color: white;
        }

        .body-gradient {
            background: linear-gradient(to bottom, #ffffff, #4b4c4f 1800px)

        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            width: 100%;
            height: 100%;
            min-height: 100%;
            overflow-x: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #4b4c4f;
            color: white;
            padding: 10px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    </style>
    <title>Departamentos</title>
</head>
<body class="body-gradient d-flex justify-content-center align-items-center">

<div class="container text-center">

    <h3>
        <img th:src="@{/images/Logo-NBG.png}" class="d-inline-block align-text-top" width="40" height="40"
             alt="icon">
        <b><i>Directorio de Departamentos</i></b>
    </h3>
    <h4 hidden="hidden"><a th:href="@{/departamentos/lista}"
                           class="btn btn-warning btn-sm mb-3 col-2 d-inline-block align-text-top ">ATRAS</a></h4>
    <hr>
    <p class="h4 mb-4"><b>¡Agregar Otra Departamento!</b></p>

    <form action="#" th:action="@{/departamentos/save}" th:object="${departamentos}" method="POST" class="d-flex flex-column align-items-center w-100">
        <div class="form-row w-75">
            <div class="form-group row w-100">

                <div class="form-group w-100 d-flex align-items-center">
                    <label class="col-4 col-form-label text-left"><h5><b>Jornada:</b></h5></label>
                    <div class="col-8">
                    <select th:field="*{tipo_jornada}" class="form-control mb-3" required onchange="validarTipoJornada(this)">
            <option value="">Seleccionar la Jornada</option>
            <option value="Matutina">Matutina</option>
            <option value="Vespertina">Vespertina</option>
        </select>
                    </div>
                </div>
                <label class="col-4 col-form-label text-left"><h5><b>Tipo Departamento:</b></h5></label>
                <div class="col-8">
        <select id="tipo_departamento" th:field="*{tipo_departamento}" class="form-control mb-3" required onchange="mostrarOpcionesAdicionales()">
            <option value="">Seleccionar el Tipo de Departamento</option>
            <option value="Área administrativa">Área Administrativa</option>
            <option value="Vicerectorados">Vicerrectorados</option>
            <option value="Inspecciones">Inspecciones</option>
            <option value="DECES">DECES</option>
            <option value="Laboratorios">Laboratorios</option>
            <option value="Salas">Salas</option>
            <option value="Salón de Actos">Salón de Actos</option>
            <option value="Bar">Bar</option>
            <option value="Biblioteca">Biblioteca</option>
            <option value="Conserjeria">Conserjería</option>
            <option value="Enfermeria">Enfermería</option>
            <option value="Almacen">Almacén</option>
        </select>

                    <div id="opcionesAdicionales" style="display: none;" class="form-group row align-items-center">



                    <select th:field="*{tipo_departamento}" class="form-control mb-3 " required>
                <option value="">Seleccionar una opción</option>
                <optgroup id="opcionesAreaadministrativa">
                    <option value="Rectorado">Rectorado</option>
                    <option value="Secretaria">Secretaría</option>
                    <option value="Inspección General">Inspección General</option>
                </optgroup>
                <optgroup id="opcionesVicirectorado">
                    <option value="Vicerectorado Matutina">Vicerrectorado Matutino</option>
                    <option value="Vicerectorado Vespertina">Vicerrectorado Vespertino</option>
                </optgroup>
                <optgroup id="opcionesInspecciones">
                    <option value="Inspección Matutina">Inspección Matutina</option>
                    <option value="Inspección Vespertina">Inspección Vespertina</option>
                </optgroup>
                <optgroup id="opcionesDECES">
                    <option value="DECE Matutino">DECE Matutino</option>
                    <option value="DECE Vespertino">DECE Vespertino</option>
                </optgroup>
                <optgroup id="opcionesLaboratorios">
                    <option value="Laboratorio Matutino">Laboratorio Matutino</option>
                    <option value="Laboratorio Vespertino">Laboratorio Vespertino</option>
                    <option value="Laboratorio Inglés">Laboratorio Inglés</option>
                    <option value="Laboratorio De Ciencias Naturales">Laboratorio de Ciencias Naturales</option>
                </optgroup>
                <optgroup id="opcionesSalas">
                    <option value="Sala de Educación Física Matutina">Sala de Educación Física Matutina</option>
                    <option value="Sala de Educación Física Vespertina">Sala de Educación Física Vespertina</option>
                    <option value="Sala de Profesores Matutina">Sala de Profesores Matutina</option>
                    <option value="Sala de Profesores Vespertina">Sala de Profesores Vespertina</option>
                    <option value="Sala de Música">Sala de Música</option>
                    <option value="Sala de Artes Matutina">Sala de Artes Matutina</option>
                    <option value="Sala de Artes Vespertina">Sala de Artes Vespertina</option>
                </optgroup>

                <optgroup id="opcionSalonActos">
                    <option value="Salón de Actos">Salón de Actos</option>
                </optgroup>

                <optgroup id="opcionBar">
                    <option value="Bar">Bar</option>
                </optgroup>
                <optgroup id="opcionBiblioteca">
                    <option value="Biblioteca">Biblioteca</option>
                </optgroup>
                <optgroup id="opcionConcerjeria">
                    <option value="Conserjería">Conserjería</option>
                </optgroup>
                <optgroup id="opcionEnfermeria">
                    <option value="Enfermería">Enfermería</option>
                </optgroup>
                <optgroup id="opcionAlmacen">
                    <option value="Almacén">Almacén</option>
                </optgroup>
            </select>
        </div>
        </div>

                    </div>
                <label class="col-4 col-form-label text-left"><h5><b>Tipo Departamento:</b></h5></label>
                <div class="col-8">
                        <input type="text" th:field="*{encargado_departamento}" class="form-control mb-3" placeholder="Encargado" required>
                    </div>
                </div>
                    <div class="form-group row w-100">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success mb-3 col-12">GUARDAR</button>
                        </div>
                        <div class="col-6">
                            <a th:href="@{/aulas/lista}" class="btn btn-warning mb-3 col-12">REGRESAR</a>
                        </div>
                    </div>
                </div>
    </form>


<script>
    function validarCantidad(input) {
        if (input.value <= 0) {
            input.value = 1; // Restablece el valor a 1 si es menor o igual a cero
        }
    }

    function validarTipoJornada(input) {
        var tipoJornada = input.value;
        // Verificar si el valor seleccionado corresponde a una jornada específica
        switch (tipoJornada) {
            case "Matutina":
            case "Vespertina":
                alert("Jornada seleccionada: " + tipoJornada);
                break;
            default:
                // Si no se reconoce la jornada, puedes mostrar un mensaje de error o tomar otra acción
                alert("Tipo de jornada no reconocido");
                // Aquí podrías restablecer el valor seleccionado o tomar otra acción adecuada
                break;
        }
    }


    function mostrarOpcionesAdicionales() {
        var opcionesAdicionales = document.getElementById("opcionesAdicionales");
         opcionesAdicionales.style.display = "block"; // Mostrar siempre las opciones adicionales
     }











</script>
</html>
