<!DOCTYPE HTML>
<html>
<head>


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <style>
    .thead-darkGray {
      background-color: #4b4c4f; /* Puedes ajustar el color según tus preferencias */
      color: white;
    }

    .body-gradient {
      background: linear-gradient(to bottom, #ffffff, #4b4c4f 1800px)

    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body, html {
      width: 100%;
      height: 100%;
      min-height: 100%;
      overflow-x: hidden;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    nav {
      background-color: #4b4c4f;
      color: white;
      padding: 10px;
      text-align: center;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    nav li {
      display: inline;
      margin-right: 20px;
    }

    nav a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  </style>
  <title>Departamentos</title>

</head>

<body class="body-gradient">

<section id="header">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="/muebles/lista">Muebles</a></li>
        <li class="nav-item"><a class="nav-link" href="/aulas/lista">Aulas</a></li>
        <li class="nav-item"><a class="nav-link" href="/defmub/lista">Mobiliario de Aulas</a></li>
        <li class="nav-item"><a class="nav-link" href="/departamentos/lista">Departamentos</a></li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/logout">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav>
</section>

<br>
<div class="container-fluid" align="center">

  <h1 style="font-weight: bold; text-align: center; color: #545050;">

    <b>
      <img th:src="@{/images/aula.png}"
           class="d-inline-block align-text-top" width="60" height="60"
           alt="icon"> LISTADO DE LOS DEPARTAMENTOS
    </b></h1>
  <hr>
  <div class="d-flex justify-content-between">
    <a th:href="@{/departamentos/nuevoDepartamento}" class="btn btn-primary btn-sm mb-3">Agregar otro Departamento<img
            th:src="@{/images/disquete.png}"
            class="d-inline-block align-text-top" width="25" height="25"
            alt="icon"></a>
    <br>
  </div>

  <table class="table  table-hover ">
    <thead class="thead-darkGray text-center">
    <tr>
      <th>ID</th>
      <th>TIPO DE JORNADA</th>
      <th>TIPO DE DEPARTAMENTO</th>
      <th>ENCARGADO</th>



    </tr>
    </thead>
    <tr th:each="departamentos, i: ${departamentos}">
      <td th:text="${departamentos.id_departamentos}" class="text-center"></td>
      <td th:text="${departamentos.tipo_jornada}" class="text-center"/>
      <td th:text="${departamentos.tipo_departamento}" class="text-center"/>
      <td th:text="${departamentos.encargado}" class="text-center"/>



      <!--            <td>-->
      <!--                <div>-->
      <!--                    <img class="img-thumbnail rounded float-left"-->
      <!--                         th:src="@{'/images/' + ${tempArticulo.imagen}}"-->
      <!--                         th:alt="${tempArticulo.imagen}">-->
      <!--                </div>-->

      <!--            </td>-->


      <td class="text-center">
        <div class="d-flex justify-content-center">
          <a th:href="@{/departamentos/masDetalles(id_departamentos=${departamentos.id_departamentos})}"
             class="btn btn-success btn-sm mr-2" title="Ver más detalles"> DETALLES
            <img th:src="@{/images/ver.png}" class="d-inline-block align-text-top" width="20" height="20"
                 alt="icon">
          </a>

          <a th:href="@{/departamentos/cambiarDepartamento(id_departamento=${departamentos.id_departamentos})}"
             class="btn btn-info btn-sm mr-2" title="Actualizar Informacion"> ACTUALIZACIONES
            <img th:src="@{/images/editar.png}" class="d-inline-block align-text-top" width="20" height="20"
                 alt="icon">
          </a>

          <form id="eliminarDepartamentosForm" th:action="@{/departamentos/delete}" th:method="post">
            <input type="hidden" name="id_departamentos" th:value="${departamentos.id_departamentos}">
            <button type="button" class="btn btn-danger btn-sm" title="Eliminar"
                    onclick="return confirmarEliminacion(event)">
              ELIMINAR
              <img th:src="@{/images/borrar.png}" class="d-inline-block align-text-top" width="20"
                   height="20" alt="icon">
            </button>
          </form>
        </div>
      </td>



    </tr>
    <tbody>

    </tbody>

  </table>
  <div th:unless="${not #lists.isEmpty(departamentos)}" class="alert alert-info" role="alert">
    No hay Departamentos registradas.
  </div>
  <a th:href="@{/departamentos/lista}" class="btn btn-warning btn-sm mb-3">CARGAR <img th:src="@{/images/recargar.png}"
                                                                               class="d-inline-block align-text-top"
                                                                               width="20" height="20"
                                                                               alt="icon">
  </a>
  <p class="text-danger warning" th:if="${searchWarning}" th:text="${searchWarning}"></p>

</div>
</body>

<script>
  function confirmarEliminacion(event) {
    event.preventDefault(); // Evita que el formulario se envíe automáticamente

    Swal.fire({
      title: '¿Está seguro que desea eliminar la sesión de artículos?',
      text: "Esta acción no se puede deshacer!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Sí, eliminar!',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        // Si el usuario hace clic en "Sí, eliminar", envía el formulario
        document.getElementById('eliminarDepartamentosForm').submit();
      }
    });
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</html>
