<!DOCTYPE HTML>
<html>
<head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        .thead-darkGray {
            background-color: #4b4c4f; /* Puedes ajustar el color según tus preferencias */
            color: white;
        }

        .body-gradient {
            background: linear-gradient(to bottom, #ffffff, #4b4c4f 1800px)

        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            width: 100%;
            height: 100%;
            min-height: 100%;
            overflow-x: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #4b4c4f;
            color: white;
            padding: 10px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    </style>
    <title>Muebles</title>

</head>

<body class="body-gradient">

<section id="header">
    <nav class="navbar navbar navbar-expand-lg ">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto"> <!-- mx-auto centra los elementos -->
                <!-- Aquí se agregan las nuevas direcciones -->
                <li class="nav-item"><a class="nav-link" href="/muebles/lista">Muebles</a></li>
                <li class="nav-item"><a class="nav-link" href="/aulas/lista">Aulas</a></li>
                <li class="nav-item"><a class="nav-link" href="/defmub/lista">Mobiliario de Aulas</a></li>


                <!-- Fin de las nuevas direcciones -->
            </ul>
            <ul class="navbar-nav"> <!-- Esta lista estará a la derecha -->
                <li class="nav-item active"><a class="nav-link" th:href="@{/logout}">Cerrar Sesión <img
                        th:src="@{/images/sign_out_32px.png}" class="d-inline-block align-text-top" width="25"
                        height="25" alt="icon"></a></li>
            </ul>
        </div>
    </nav>
</section>


<br>
<div class="container-fluid" align="center">

    <h1 style="font-weight: bold; text-align: center; color: #545050;">

        <b>
            <img th:src="@{/images/estante-de-libros.png}"
                 class="d-inline-block align-text-top" width="60" height="60"
                 alt="icon"> LISTADO DE LOS MUEBLES
        </b></h1>
    <hr>
    <div class="d-flex justify-content-between">
        <a th:href="@{/muebles/nuevoMueble}" class="btn btn-primary btn-sm mb-3">Agregar otro Mueble <img
                th:src="@{/images/disquete.png}"
                class="d-inline-block align-text-top" width="25" height="25"
                alt="icon"></a>
        <br>
    </div>


    <table class="table  table-hover ">
        <thead class="thead-darkGray text-center">
        <tr>
            <th>ID</th>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>FECHA INGR</th>
            <th>ESTADO</th>
            <th>CANTIDAD</th>
            <th>ASIGNACION</th>
            <th>TOTAL</th>
            <th>ACCIONES</th>


        </tr>
        </thead>
        <tr th:each="muebles, i: ${muebles}">
            <td th:text="${muebles.id_mueble}" class="text-center"></td>
            <td th:text="${muebles.codigo_mueble}" class="text-center"/>
            <td th:text="${muebles.nombre_mueble}" class="text-center"/>
            <td th:text="${muebles.descripcion_mueble}" class="text-center"/>
            <td th:text="${muebles.fecha_ingreso}" class="text-center"/>
            <td th:text="${muebles.estado == true ? 'Existe' : 'No Existe'}" class="text-center"></td>
            <td th:text="${muebles.cantidad}" class="text-center"></td>
            <td th:text="${muebles.asignacion}" class="text-center"></td>
            <td class="text-center"><span th:text="${muebles.cantidad + muebles.asignacion}"></span></td>


            <!--            <td>-->
            <!--                <div>-->
            <!--                    <img class="img-thumbnail rounded float-left"-->
            <!--                         th:src="@{'/images/' + ${tempArticulo.imagen}}"-->
            <!--                         th:alt="${tempArticulo.imagen}">-->
            <!--                </div>-->

            <!--            </td>-->


            <td class="text-center">
                <div class="d-flex justify-content-center">
                    <a th:href="@{/muebles/masDetalles(id_mueble=${muebles.id_mueble})}"
                       class="btn btn-success btn-sm mr-2" title="Ver más detalles"> DETALLES
                        <img th:src="@{/images/ver.png}" class="d-inline-block align-text-top" width="20" height="20"
                             alt="icon">
                    </a>

                    <a th:href="@{/muebles/cambiarMueble(id_mueble=${muebles.id_mueble})}"
                       class="btn btn-info btn-sm mr-2" title="Actualizar Informacion"> ACTUALIZACIONES
                        <img th:src="@{/images/editar.png}" class="d-inline-block align-text-top" width="20" height="20"
                             alt="icon">
                    </a>

                    <form id="eliminarMuebleForm" th:action="@{/muebles/delete2}" th:method="post">
                        <input type="hidden" name="id_mueble" th:value="${muebles.id_mueble}">
                        <button type="button" class="btn btn-danger btn-sm" title="Eliminar"
                                onclick="return confirmarEliminacion(event)">
                            ELIMINAR
                            <img th:src="@{/images/borrar.png}" class="d-inline-block align-text-top" width="20"
                                 height="20" alt="icon">
                        </button>
                    </form>
                </div>
            </td>



        </tr>
        <tbody>

        </tbody>

    </table>
    <div th:unless="${not #lists.isEmpty(muebles)}" class="alert alert-info" role="alert">
        No hay muebles registrados.
    </div>
    <a th:href="@{/muebles/lista}" class="btn btn-warning btn-sm mb-3">CARGAR <img th:src="@{/images/recargar.png}"
                                                                                   class="d-inline-block align-text-top"
                                                                                   width="20" height="20"
                                                                                   alt="icon">
    </a>
    <p class="text-danger warning" th:if="${searchWarning}" th:text="${searchWarning}"></p>

</div>
</body>

<script>
    function confirmarEliminacion(event) {
        event.preventDefault(); // Evita que el formulario se envíe automáticamente

        Swal.fire({
            title: '¿Está seguro de eliminar este artículo?',
            text: "Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario hace clic en "Sí, eliminar", envía el formulario
                document.getElementById('eliminarMuebleForm').submit();
            }
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</html>