<!DOCTYPE HTML>
<html>
<head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        .btn:hover {
            transform: scale(1.2); /* Aumenta el tamaño del botón al 120% cuando se pasa el cursor sobre él */
            transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
        }

        .thead-darkGray {
            background-color: #4b4c4f; /* Puedes ajustar el color según tus preferencias */
            color: white;
        }

        .body-gradient {
            background: linear-gradient(to bottom, #ffffff, #4b4c4f 1800px)

        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            width: 100%;
            height: 100%;
            min-height: 100%;
            overflow-x: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #4b4c4f;
            color: white;
            padding: 10px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .nav-link:hover {
            transform: scale(1.25); /* Aumenta el tamaño del enlace al 120% cuando se pasa el cursor sobre él */
            transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
            color: #ffffff; /* Cambia el color del texto del enlace a rojo cuando el puntero se acerca */

        }

        .fila-inactiva {
            background-color: rgba(230, 155, 155, 0.29); /* Cambia el color de fondo a rojo claro */
        }

        .transparent-button {
            background-color: transparent;
            border: none;
            padding: 0;
        }

    </style>
    <title>Muebles</title>


</head>

<body class="body-gradient">

<section id="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/">
                    <img th:src="@{/images/home.png}" class="d-inline-block align-text-center" width="35" height="35"
                         alt="icon"> Inicio </a></li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/muebles/lista">Muebles</a></li>
                <li class="nav-item"><a class="nav-link" href="/aulas/lista">Aulas</a></li>
                <li class="nav-item"><a class="nav-link" href="/defmub/lista">Mobiliario de Aulas</a></li>
                <li class="nav-item"><a class="nav-link" href="/departamentos/lista">Departamentos</a></li>
                <li class="nav-item"><a class="nav-link" href="/defmub/lista">Mobiliario de Departamentos</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/logout"> <img
                        th:src="@{/images/cerrar-sesion.png}" class="d-inline-block align-text-center" width="35"
                        height="35" alt="icon"> Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>
</section>

<br>
<br>
<br>
<br>
<div class="container-fluid" align="center">

    <h1 style="font-weight: bold; text-align: center; color: #545050;">
        <b><i>
            <img th:src="@{/images/estante-de-libros.png}"
                 class="d-inline-block align-text-top" width="60" height="60"
                 alt="icon"> Listados De Muebles
        </i></b>
    </h1>


    <hr>
    <div class="d-flex justify-content-between align-items-center">
        <div class="text-center">
            <a th:href="@{/muebles/nuevoMueble}" class="btn btn-primary btn-sm mb-6">
                <b>Agregar Mueble</b>
                <img th:src="@{/images/disquete.png}" class="d-inline-block align-text-top" width="25" height="25" alt="icon">
            </a>

            <a th:href="@{/muebles/lista}" class="btn btn-warning btn-sm mb-6">
                <b>Cargar</b>
                <img th:src="@{/images/recargar.png}" class="d-inline-block align-text-top" width="25" height="25" alt="icon">
            </a>
        </div>

        <div class="d-flex align-items-center">
            <button id="filtroActivo" class="btn btn-warning custom-btn btn-sm mb-6 mr-2" onclick="alternarFiltro()">
                <div class="d-flex align-items-center">
                    <span class="ml-6"><b>Filtrar Inactivos</b></span>
                </div>

            </button>

            <img th:src="@{/images/lupa.png}" class="d-inline-block align-text-top" width="30" height="30" alt="icon">
            <input type="text" id="buscar" class="form-control mb-6 ml-2" placeholder="Buscar Mueble..."  title="Buscar dentro de la tabla">
        </div>

    </div>


</div>


<br>


<table class="table  table-hover " id="tablaMuebles">
    <thead class="thead-darkGray text-center">
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th hidden="hidden" onclick="ordenarPorFechaIngreso()">Fecha Ingreso</th>
        <th>Estado</th>
        <th>Disponible</th>
        <th>Ocupado</th>
        <th>Total</th>
        <th>Acciones</th>


    </tr>
    </thead>
    <tr th:each="muebles : ${muebles}" th:class="${muebles.estado == false} ? 'fila-inactiva' : ''">
        <td th:text="${muebles.id_mueble}" class="text-center"></td>
        <td th:text="${muebles.codigo_mueble}" class="text-center"/>
        <td th:text="${muebles.nombre_mueble}" class="text-center"/>
        <td th:text="${muebles.descripcion_mueble}" class="text-center"/>
        <td hidden="hidden" th:text="${muebles.fecha_ingreso}" class="text-center"/>
        <td class="text-center" id="estadoMuebleInput">
            <div class="d-flex align-items-center justify-content-center">
            <span th:if="${muebles.estado}"> <!-- Si el estado es activo -->
                <img src="/images/on.png" alt="Activo" width="40" height="40">
            </span>
                <span th:unless="${muebles.estado}"> <!-- Si el estado es inactivo -->
                <img src="/images/off.png" alt="Inactivo" width="40" height="40">
            </span>
            </div>
        </td>


        <td th:text="${muebles.cantidad}" class="text-center"></td>
        <td th:text="${muebles.asignacion}" class="text-center"></td>
        <td class="text-center"><span th:text="${muebles.cantidad + muebles.asignacion}"></span></td>




        <td class="text-center">
            <div class="d-flex justify-content-center">
                <form id="cambiarEstadoForm-${muebles.id_mueble}" th:action="@{/muebles/cambiarEstado}"
                      th:method="post" class="text-center">
                    <input type="hidden" name="id_mueble" th:value="${muebles.id_mueble}">
                    <button type="button" class="btn btn-warning btn-sm mr-2" title="Cambiar Estado"
                            onclick="confirmarCambioEstado(event, this)">
                        ESTADO
                        <img th:src="@{/images/encendido-apagado.png}" class="d-inline-block align-text-top"
                             width="20" height="20" alt="icon">
                    </button>
                </form>
                <a th:href="@{/muebles/masDetalles(id_mueble=${muebles.id_mueble})}"
                   class="btn btn-success btn-sm mr-2 text-center" title="Ver más detalles">
                    DETALLES
                    <img th:src="@{/images/ver.png}" class="d-inline-block align-text-top" width="20" height="20"
                         alt="icon">
                </a>

                <a th:href="@{/muebles/cambiarMueble(id_mueble=${muebles.id_mueble})}"
                   class="btn btn-info btn-sm mr-2 text-center" title="Actualizar la  Información">
                    ACTUALIZACIONES
                    <img th:src="@{/images/editar.png}" class="d-inline-block align-text-top" width="20" height="20"
                         alt="icon">
                </a>



            </div>
        </td>


    </tr>
    <tbody>

    </tbody>

</table>
<div class="text-center">
    <div th:unless="${not #lists.isEmpty(muebles)}" class="alert alert-info" role="alert">
        <b>No hay muebles registrados.</b>
    </div>
    <a th:href="@{/muebles/lista}" class="btn btn-warning btn-sm mb-3 d-block mx-auto" style="width: 150px;">
        CARGAR
        <img th:src="@{/images/recargar.png}" class="d-inline-block align-text-top ml-2" width="20" height="20"
             alt="icon">
    </a>
</div>

<br>
<br>
<br>

</body>

<script>
    async function confirmarCambioEstado(event, button) {
        event.preventDefault();
        const {value: confirmacion} = await Swal.fire({
            title: '¿Está seguro, de Cambiar el estado de este Mueble?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, Cambiar!',
            cancelButtonText: 'Cancelar'
        });

        if (confirmacion) {
            var form = button.closest('form'); // Obtener el formulario asociado al botón
            form.submit();
        }
    }

</script>


<script>
    function parseFecha(fecha) {
        // Verificar si la fecha está definida y no es nula
        if (fecha && typeof fecha === 'string') {
            // Separar la fecha y la hora
            var partes = fecha.split(' ');
            if (partes.length === 2) {
                var fechaPartes = partes[0].split('-');
                var horaPartes = partes[1].split(':');

                // Verificar si se pudieron dividir correctamente las partes
                if (fechaPartes.length === 3 && horaPartes.length === 3) {
                    // El mes en JavaScript es 0-indexed, por lo que restamos 1 al mes
                    return new Date(fechaPartes[2], fechaPartes[1] - 1, fechaPartes[0], horaPartes[0], horaPartes[1], horaPartes[2]);
                }
            }
        }

        // Si la fecha no está en el formato esperado, devolver null o lanzar un error, según sea adecuado para tu caso
        return null;
    }

    // Función para ordenar la tabla por la columna "Fecha Ingreso"
    function ordenarPorFechaIngreso() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("tablaMuebles");
        switching = true;
        /* Hacer un bucle hasta que no haya cambios */
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("tr");
            /* Iterar sobre todas las filas, excepto el encabezado */
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                /* Obtener los elementos td de las dos filas que se comparan */
                x = rows[i].getElementsByTagName("td")[4]; // Suponiendo que la fecha de ingreso está en la quinta columna (índice 4)
                y = rows[i + 1].getElementsByTagName("td")[4];
                /* Verificar si las dos filas deben cambiar de lugar, basado en el valor de la fecha */
                if (parseFecha(x.textContent) < parseFecha(y.textContent)) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                /* Si se debe cambiar de lugar, hacerlo y marcar que se ha hecho un cambio */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>


<script>
    // Función para filtrar las filas de la tabla a medida que se escribe en el cuadro de búsqueda
    document.getElementById('buscar').addEventListener('input', function () {
        var input, filtro, tabla, tr, td, i, txtValor;
        input = document.getElementById("buscar");
        filtro = input.value.toUpperCase();
        tabla = document.getElementById("tablaMuebles");
        tr = tabla.getElementsByTagName("tr");

        // Recorre las filas de datos (a partir del índice 1) y oculta las que no coinciden con la búsqueda
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            var encontrado = false; // Indica si se encontró coincidencia en alguna celda
            for (var j = 0; j < td.length; j++) {
                txtValor = td[j].textContent || td[j].innerText;
                if (txtValor.toUpperCase().indexOf(filtro) > -1) {
                    encontrado = true;
                    break; // Si se encuentra una coincidencia, no es necesario continuar buscando en esta fila
                }
            }
            // Muestra u oculta la fila de datos dependiendo de si se encontró coincidencia en alguna celda
            tr[i].style.display = encontrado ? "" : "none";
        }
    });
</script>

<script>
    var filtroActivo = true; // Variable para alternar el filtro de activos e inactivos

    function alternarFiltro() {
        filtroActivo = !filtroActivo; // Alternar el valor del filtro

        // Obtener todas las filas de la tabla
        var filas = document.querySelectorAll("#tablaMuebles tbody tr");

        // Filtrar las filas según el valor del filtro
        filas.forEach(function (fila) {
            var estado = fila.querySelector("td#estadoMuebleInput img").getAttribute("alt");
            if ((filtroActivo && estado === "Activo") || (!filtroActivo && estado === "Inactivo")) {
                fila.style.display = ""; // Mostrar la fila si coincide con el filtro
            } else {
                fila.style.display = "none"; // Ocultar la fila si no coincide con el filtro
            }
        });

        // Actualizar el texto del botón según el filtro activo/inactivo
        var filtroBtn = document.getElementById("filtroActivo");
        filtroBtn.textContent = filtroActivo ? "Filtrar Inactivos" : "Filtrar Activos";

    }

</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</html>