<!DOCTYPE HTML>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>


        .btn:hover {
            transform: scale(1.2); /* Aumenta el tamaño del botón al 120% cuando se pasa el cursor sobre él */
            transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
        }

        .thead-darkGray {
            background-color: #4b4c4f; /* Puedes ajustar el color según tus preferencias */
            color: white;
        }

        .body-gradient {
            background: linear-gradient(to bottom, #ffffff, #4b4c4f 1800px)

        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            width: 100%;
            height: 100%;
            min-height: 100%;
            overflow-x: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #4b4c4f;
            color: white;
            padding: 10px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .nav-link:hover {
            transform: scale(1.25); /* Aumenta el tamaño del enlace al 120% cuando se pasa el cursor sobre él */
            transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
            color: #ffffff; /* Cambia el color del texto del enlace a rojo cuando el puntero se acerca */

        }

        .fila-inactiva {
            background-color: rgba(230, 155, 155, 0.29); /* Cambia el color de fondo a rojo claro */
        }


    </style>
    <title>Aulas</title>
</head>
<body class="body-gradient d-flex justify-content-center align-items-center">

<div class="container text-center">

    <h3>
        <img th:src="@{/images/Logo-NBG.png}" class="d-inline-block align-text-top" width="40" height="40" alt="icon">
        <b><i>Directorio de Aula</i></b>
    </h3>
    <h4 hidden="hidden"><a th:href="@{/aulas/lista}"
                           class="btn btn-warning btn-sm mb-3 col-2 d-inline-block align-text-top ">ATRAS</a></h4>
    <hr>
    <p class="h4 mb-4"><b>¡Agregar Otra Aula!</b></p>

    <form action="#" th:action="@{/aulas/save}" th:object="${aulas}" method="POST" class="w-100">
        <div class="form-row w-75 mx-auto">
            <div class="col-12 mb-3">
                <div class="form-group row align-items-center">
                    <label class="col-4 col-form-label text-left"><h5><b>Curso:</b></h5></label>
                    <div class="col-8">
                        <select id="tipoCurso" class="form-control mb-3" required
                                onchange="mostrarOpcionesAdicionales()">
                            <option value="">Selecciona un tipo de curso</option>
                            <option value="inicial">Inicial</option>
                            <option value="basica">Básica</option>
                            <option value="superior">Básica Superior</option>
                            <option value="bachillerato">Bachillerato</option>
                        </select>
                    </div>
                </div>
                <div id="opcionesAdicionales" style="display: none;">
                    <div class="form-group row align-items-center">
                        <label class="col-4 col-form-label text-left"><h5><b>Opciones Adicionales:</b></h5></label>
                        <div class="col-8">
                            <select th:field="*{curso}" class="form-control mb-3" required>
                                <option value="">Seleccionar una opción</option>
                                <!-- Opciones adicionales para cada tipo de curso -->
                                <optgroup id="opcionesInicial">
                                    <option value="Inicial 1">Inicial 1</option>
                                    <option value="Inicial 2">Inicial 2</option>
                                </optgroup>
                                <optgroup id="opcionesBasica">
                                    <option value="Primero de básica">Primero de básica</option>
                                    <option value="Segundo de básica">Segundo de básica</option>
                                    <option value="Tercero de básica">Tercero de básica</option>
                                    <option value="Cuarto de básica">Cuarto de básica</option>
                                    <option value="Quinto de básica">Quinto de básica</option>
                                    <option value="Sexto de básica">Sexto de básica</option>
                                    <option value="Séptimo de básica">Séptimo de básica</option>
                                </optgroup>
                                <optgroup id="opcionesSuperior">
                                    <option value="Octavo de básica">Octavo de básica</option>
                                    <option value="Noveno de básica">Noveno de básica</option>
                                    <option value="Décimo de básica">Décimo de básica</option>
                                </optgroup>
                                <optgroup id="opcionesBachillerato">
                                    <option value="Primero de bachillerato">Primero de bachillerato</option>
                                    <option value="Segundo de bachillerato">Segundo de bachillerato</option>
                                    <option value="Tercero de bachillerato">Tercero de bachillerato</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="form-group row align-items-center">
                    <label class="col-4 col-form-label text-left"><h5><b>Paralelo:</b></h5></label>
                    <div class="col-8">
                        <select th:field="*{paralelo}" class="form-control mb-3" required>
                            <option value="">Selecciona un paralelo</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="N/A">N/A</option>
                        </select>
                        <select th:field="*{paralelo}" class="form-control mb-3" >
                            <option value="">Selecciona un paralelo</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="N/A">N/A</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row align-items-center">
                    <label class="col-4 col-form-label text-left"><h5><b>Ubicación:</b></h5></label>
                    <div class="col-8">
                        <select th:field="*{ubicacion_aula}" class="form-control mb-3" required>
                            <option value="">Selecciona una ubicación</option>
                            <option value="Aula-1">Aula-1</option>
                            <option value="Aula-2">Aula-2</option>
                            <option value="Aula-3">Aula-3</option>
                            <option value="Aula-4">Aula-4</option>
                            <option value="Aula-5">Aula-5</option>
                            <option value="Aula-6">Aula-6</option>
                            <option value="Aula-7">Aula-7</option>
                            <option value="Aula-8">Aula-8</option>
                            <option value="Aula-9">Aula-9</option>
                            <option value="Aula-10">Aula-10</option>
                            <option value="Aula-11">Aula-11</option>
                            <option value="Aula-12">Aula-12</option>
                            <option value="Aula-13">Aula-13</option>
                            <option value="Aula-14">Aula-14</option>
                            <option value="Aula-15">Aula-15</option>
                            <option value="Aula-16">Aula-16</option>
                            <option value="Aula-17">Aula-17</option>
                            <option value="Aula-18">Aula-18</option>
                            <option value="Aula-19">Aula-19</option>
                            <option value="Aula-20">Aula-20</option>
                            <option value="Aula-21">Aula-21</option>
                            <option value="Aula-22">Aula-22</option>
                            <option value="Aula-23">Aula-23</option>
                            <option value="Aula-24">Aula-24</option>
                            <option value="Aula-25">Aula-25</option>

                        </select>
                    </div>
                </div>

                <div class="form-group row align-items-center">
                    <label class="col-4 col-form-label text-left"><h5><b>Encargado:</b></h5></label>
                    <div class="col-8">
                        <input type="text" th:field="*{encargado}" class="form-control mb-3" placeholder="Encargado"
                               required>
                    </div>
                </div>

                <div class="form-group row w-100">
                    <div class="col-6">
                        <button type="submit" class="btn btn-success mb-3 col-12">GUARDAR</button>
                    </div>
                    <div class="col-6">
                        <a th:href="@{/aulas/lista}" class="btn btn-warning mb-3 col-12">REGRESAR</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    function mostrarOpcionesAdicionales() {
        var tipoCurso = document.getElementById("tipoCurso").value;
        var opcionesAdicionales = document.getElementById("opcionesAdicionales");
        opcionesAdicionales.style.display = tipoCurso !== "" ? "block" : "none";

        // Oculta todas las opciones adicionales
        document.querySelectorAll("#opcionesAdicionales optgroup").forEach(function (optgroup) {
            optgroup.style.display = "none";
        });

        // Muestra las opciones adicionales correspondientes al tipo de curso seleccionado
        document.getElementById("opciones" + tipoCurso.charAt(0).toUpperCase() + tipoCurso.slice(1)).style.display = "block";
        document.getElementById("opcionesInicial" + tipoCurso.charAt(0).toUpperCase() + tipoCurso.slice(1)).style.display = "block";
        document.getElementById("opcionesBasica" + tipoCurso.charAt(0).toUpperCase() + tipoCurso.slice(1)).style.display = "block";
        //document.getElementById("Superior" + tipoCurso.charAt(0).toUpperCase() + tipoCurso.slice(1)).style.display = "block";
        document.getElementById("opcionesSuperior" + tipoCurso.charAt(0).toUpperCase() + tipoCurso.slice(1)).style.display = "block";

        document.getElementById("opcionesBachillerato" + tipoCurso.charAt(0).toUpperCase() + tipoCurso.slice(1)).style.display = "block";

    }

    function mostrarOpcionesParalelo() {
        var paraleloSeleccionado = document.getElementById("paralelo").value;
        var opcionesParalelo = document.getElementById("opcionesParalelo");
        opcionesParalelo.style.display = paraleloSeleccionado !== "" ? "block" : "none";

        // Ocultar todas las opciones adicionales de paralelo
        document.querySelectorAll("#opcionesParalelo optgroup").forEach(function (optgroup) {
            optgroup.style.display = "none";
        });

        // Mostrar las opciones adicionales correspondientes al paralelo seleccionado
        document.getElementById("opciones" + paraleloSeleccionado).style.display = "block";
    }


    // Guardar todas las opciones en un array
    var options = Array.from(select.options).map(option => option.value);

    // Función para encontrar la opción más parecida
    function findClosestOption(input) {
        var minDistance = Infinity;
        var closestOption = '';

        options.forEach(option => {
            var distance = levenshteinDistance(input, option);
            if (distance < minDistance) {
                minDistance = distance;
                closestOption = option;
            }
        });

        return closestOption;
    }

    // Función para calcular la distancia de Levenshtein entre dos strings
    function levenshteinDistance(a, b) {
        if (a.length === 0) return b.length;
        if (b.length === 0) return a.length;

        var matrix = [];

        // Inicializar la primera fila y la primera columna
        for (var i = 0; i <= b.length; i++) {
            matrix[i] = [i];
        }

        for (var j = 0; j <= a.length; j++) {
            matrix[0][j] = j;
        }

        // Calcular la distancia de Levenshtein
        for (var i = 1; i <= b.length; i++) {
            for (var j = 1; j <= a.length; j++) {
                if (b.charAt(i - 1) === a.charAt(j - 1)) {
                    matrix[i][j] = matrix[i - 1][j - 1];
                } else {
                    matrix[i][j] = Math.min(
                        matrix[i - 1][j - 1] + 1,
                        matrix[i][j - 1] + 1,
                        matrix[i - 1][j] + 1
                    );
                }
            }
        }

        return matrix[b.length][a.length];
    }

    // Evento de entrada para el autocompletado
    select.addEventListener('input', function () {
        var inputValue = this.value;
        if (inputValue.length > 0) {
            var closestOption = findClosestOption(inputValue);
            this.value = closestOption;
        }
    });

    function alternarFiltro(tipoUbicacion) {
        // Obtener todas las filas de la tabla
        var filas = document.querySelectorAll("#tablaAulas tbody tr");

        // Filtrar las filas según el tipo de ubicación
        filas.forEach(function (fila) {
            var ubicacion = fila.querySelector("td:nth-child(3)").textContent.trim().toLowerCase();
            if (ubicacion === tipoUbicacion.toLowerCase() || tipoUbicacion === "") {
                fila.style.display = ""; // Mostrar la fila si coincide con la ubicación seleccionada o si no se ha seleccionado ninguna ubicación
            } else {
                fila.style.display = "none"; // Ocultar la fila si no coincide con la ubicación seleccionada
            }
        });

    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>


</html>
