<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asiganacion de Muebles</title>
</head>
<body>

<h2>Asignar Muebles en una Aula</h2>

<form action="/defmub/save" method="post" th:object="${asignacionForm}">
    <label for="idAula">Selecciona un Aula:</label>
    <select id="idAula" name="idAula" required>
        <option value="" disabled selected>Selecciona un aula</option>
        <!-- Iterar sobre la lista de aulas disponibles -->
        <option th:each="aula : ${allAulas}" th:value="${aula.id_aula}" th:text="${aula.curso}"></option>
    </select><br><br>

    <label for="idMuebles">Selecciona los Muebles:</label>
    <select id="idMuebles" name="idMuebles" onchange="handleSelection()" required multiple>
        <!-- Iterar sobre la lista de muebles disponibles -->
        <option th:each="mueble : ${allMuebles}" th:value="${mueble.id_mueble}" th:text="${mueble.nombre_mueble}"></option>
    </select><br><br>

    <!-- Mostrar los muebles seleccionados -->
    <label>Muebles Seleccionados:</label>
    <div id="selectedMuebles"></div>

    <!-- Input oculto para almacenar los IDs de los muebles seleccionados -->
    <input type="hidden" id="selectedMueblesIds" name="selectedMueblesIds">

    <button type="submit">Asignar Muebles</button>
</form>

</body>
<script>
    // Función para manejar la selección de muebles
    function handleSelection() {
        var selectElement = document.getElementById("idMuebles");
        var selectedMueble = selectElement.options[selectElement.selectedIndex].text;
        var selectedMuebleId = selectElement.value;

        // Agregar el mueble seleccionado a un label
        var selectedMueblesLabel = document.getElementById("selectedMuebles");
        selectedMueblesLabel.innerHTML += "<span>" + selectedMueble + "</span>, ";

        // Crear un input oculto para almacenar los IDs de los muebles seleccionados
        var hiddenInput = document.getElementById("selectedMueblesIds");
        hiddenInput.value += selectedMuebleId + ",";
    }
</script>
</html>
